@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Philosopher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Zapfino;
  src: url("./fonts/Zapfino Zip/Unziped/ZapfinoExtraLT-One.otf");
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/HelveticaNeue.tff");
}

@font-face {
  font-family: 'Noteworthy Light';
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Noteworthy-Lt.ttf");
}

.button1 {
  width: 150px;
  height: 60px;
  background-color: #f0e3df;
  background: #f0e3df 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #bfb7b4;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  margin-top: 25px;
  width: 100%;
  height: 160px;
  background-color: #F0E3DF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .footer .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.footer .footer-content .footer-text {
  margin-right: 50px;
}

.footer .footer-content .footer-text .logo {
  color: #050505;
}

.footer .footer-content .footer-text .logo .red-text {
  color: red;
}

.footer .footer-content .footer-text h3 {
  color: #707070;
}

@media screen and (max-width: 450px) {
  .footer .footer-content .footer-text {
    font-size: 15px;
  }
}

.header .menu1 {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}

.header .menu1 ul {
  display: flex;
  font-family: "Open Sans";
  font-size: 18px;
  list-style: none;
}

.header .menu1 ul li {
  padding-right: 20px;
}

.header .menu1 ul li a {
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 450px) {
  .header .menu1 ul {
    font-size: 13px;
  }
}

.block1 h2 {
  font-size: 30px;
  color: #7B7F83;
}

@media screen and (max-width: 400px) {
  .block1 h2 {
    font-size: 20px;
  }
}

.block2 {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .block2 {
    flex-direction: column;
    padding-bottom: 25px;
  }
}

.block2 h1 {
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  color: #f00e0e;
}

@media screen and (max-width: 900px) {
  .block2 h1 {
    font-size: 10vw;
  }
}

@media screen and (max-width: 450px) {
  .block2 h1 {
    font-size: 40px;
  }
}

.block2 p {
  border: 1px solid #707070;
  font-weight: 400;
  color: black;
  font-size: 25px;
  background-color: #f0dead;
  padding: 10px 10px 13px 10px;
  height: 60px;
  margin-left: 40px;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .block2 p {
    margin-left: 10px;
  }
}

@media screen and (max-width: 900px) {
  .block2 p {
    font-size: 4vw;
  }
}

@media screen and (max-width: 400px) {
  .block2 p {
    font-size: 15px;
    margin-left: 0;
    margin-right: 0;
  }
}

.block3 {
  color: #707070;
  font-size: 28px;
}

@media screen and (max-width: 500px) {
  .block3 {
    font-size: 22px;
  }
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.red-text {
  color: red;
}

.header {
  margin: 0 auto;
  padding-bottom: 25px;
}

.main {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
}

.main img {
  margin-bottom: 20px;
  width: 70%;
}
/*# sourceMappingURL=thankyou.css.map */