@import "common";

body {
    // overflow: hidden;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    // border: 3px solid red;
}

.red-text {
    color: red;
}

.header {
    .menu1 {
        // border: 3px solid red;
        // position: absolute;
        // top: 0px;
        // left: 100%;
        // transform: translate(-100%, 0%);
        display: flex;
        justify-content: flex-end;
        padding-top: 25px;
        ul {
            display: flex;

            font-family: "Open Sans";
            font-size: 18px;
            list-style: none;
            li {
                padding-right: 20px;
                a {
                    text-decoration: none;
                    color: #000000;
                }
            }
        }
    }

    .block1 {
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 30px;
        color: #7b7f83;
        // .red-text {
        //     color: red;
        // }
        // margin-bottom: 20px;;
    }
    .block2 {
        // border: 3px solid red;
        display: flex;
        align-items: center;
        h1 {
            font-family: "Oswald", sans-serif;
            font-size: 80px;
            color: #f00e0e;
        }
        p {
            border: 1px solid #707070;
            font-weight: 400;
            color: black;
            font-size: 25px;
            background-color: #f0dead;
            padding: 10px 10px 13px 10px;
            height: 60px;
            margin-left: 40px;
            margin-top: 10px;
        }
    }
    .block3 {
        color: #707070;
        width: 60%;
        font-size: 28px;
    }
}

.container {
    // border: 3px solid red;
    margin-top: 50px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    .centering-block {
        // border: 3px solid red;
        margin: 0 auto;
        display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // @include max-mixin(800px) {
        //     grid-template-columns: 1fr 1fr;
        // }
        // @include max-mixin(500px) {
        grid-template-columns: 1fr;
        // }

        justify-items: center;
        column-gap: 25px;
        min-height: 500px;

        // display: flex;

        @include max-mixin(1000px) {
            column-gap: 15px;
        }

        .column {
            // border: 3px solid red;
            width: 80%;
            height: auto; //3100px;
            margin: 0 auto;

            img {
                width: 100%;
            }
            .red-text {
                color: red;
            }
            .column-copy-block {
                border: 3px solid red;
                height: 250px;
                // height: 215px;

                .column-heading {
                    font-family: 600;
                    font-size: 50px;
                    text-align: center;
                    color: #7b7f83;
                }
                .column-copy {
                    color: #707070;
                    font-size: 20px;
                    line-height: 2;
                }
            }

            // .column-image {
            //     height: auto;
            //     margin-bottom: 50px;
            //     img {
            //         width: 100%;
            //     }
            // }
        }
        position: relative;
    }
}

.sliderWrapper {
    position: relative;
    // width: 530px;
    // height: 375px;
    white-space: nowrap;
    margin: 50px auto 0 auto;
    overflow: hidden;

    div {
        position: relative;
    }
    .nav {
        margin: 10px auto 0 auto;
        width: 530px;


        .button {
            border: 3px solid red;
            border-radius: 10px;
            padding: 10px;
            background-color: #fff;
            display: inline-block;
            cursor: pointer;

            &:hover {
                background-color: #ffcc00;
            }
        }
        .buttonRight {
            position: absolute;
            top: -100px;
            left: 20%;
        }
        .buttonLeft {
            position: absolute;
            top: -100px;
            left: 5%;
        }

        .buttonRight {
            float: right;
        }
        .buttonLeft {
            float: left;
        }
    }
}

.trailer {
    // border: 3px solid red;
    margin: 0 auto;
    width: 70%;
    // height: 500px;
    margin-bottom: 50px;

    .heading {
        color: #0c0d0d;
        font-size: 60px;
        margin-bottom: 15px;
    }
    .copy {
        color: #707070;
        font-size: 20px;
    }
}
